{% extends 'base.html'%}
{% load static%}
{% block content%}
        <!-- content begin -->
        <div class="no-bottom no-top" id="content">
            <div id="top"></div>
            <!-- section begin -->
            <section id="subheader" class="text-light" data-stellar-background-ratio=".2" data-bgimage="url({% static 'images/background/subheader.jpg'%}) top">
                <div class="center-y relative text-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <h1>News</h1>
                                <p>Reputation. Respect. Result.</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- section close -->
            <!-- section begin -->
            <section aria-label="section">
                <div class="container">
                    <div class="row">
                        {% for i in news%}
                        <div class="col-lg-4 col-md-6 mb30">
                            <div class="bloglist item">
                                <div class="post-content">
                                    <div class="date-box">
                                        <div class="m">{{i.date | date:"d " }}</div>
                                        <div class="d">{{i.date | date:" F "}}</div>
                                    </div>
                                    <div class="post-image">
                                        <img alt="" src="{{i.photo.url}}">
                                    </div>
                                    <div class="post-text">
                                        <span class="p-tagline">law</span>
                                        <h4><a href="https://youtu.be/q2FFMeF4bLI">{{i.title}}<span></span></a></h4>
                                        <p>{{i.text |truncatechars:150}}</p>
                                        <span class="p-author">{{i.name}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor%}
                        <div class="spacer-single"></div>
                        <ul class="pagination">
                            <li><a href="#">Prev</a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">Next</a></li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
        <!-- content close -->
        <a href="#" id="back-to-top"></a>
{%endblock%}